.form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: 35px;
}

.inputForm {
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 8px 6px 6px -2px rgb(56, 51, 51);
    padding-left: 5px;
}

.searchButton {
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: rgb(183, 231, 240);
    box-shadow: 8px 6px 6px -2px rgb(56, 51, 51);
    font-weight: 600;
}

.searchButton:hover {
    background-color: rgb(153, 227, 240);
}

@counter-style name {
    system: cyclic;
    symbols: 🎥;
    suffix: " ";
}

.moviesList {
    list-style-type: name;
}

.error {
    font-size: 18px;
    color: rgb(231, 65, 65);
}