.navigate {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}

.wrapNav {
    border-bottom: 2px solid rgba(64, 16, 16, 0.6);  
}