h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

@counter-style name {
    system: cyclic;
    symbols: 🎥;
    suffix: " ";
}

.movies {
    list-style-type: name;
    display: flex;
    flex-direction: column;  
}

.moviesItem {
    height: 20px;
    padding-bottom: 10px;
}

.moviesItem:hover {
    transform: scale(1.05);
}

.error {
    font-size: 18px;
    color: rgb(231, 65, 65);
}
