.homeBox {
    padding: 20px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

@counter-style name {
    system: cyclic;
    symbols: 🎥;
    suffix: " ";
}

.movies {
    list-style-type: name;
    display: flex;
    flex-direction: column; 
    padding-left: 20px; 
}

.moviesItem {
    height: 20px;
    padding-bottom: 10px;
}

.error {
    font-size: 18px;
    color: rgb(231, 65, 65);
}
