h2 {
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
}

@counter-style name {
    system: cyclic;
    symbols: 🎥;
}

.movies {
    list-style-type: name;
    display: flex;
    flex-direction: column;
}

.moviesItem {
    height: 30px;
    padding-bottom: 10px;
}

.moviesItem:hover {
    transform: scale(1.05);
}
